<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>Admin </h1>
            </div>
            <div class="content">
                <h3>Họ tên : Nguyễn Trung Tín </h3>
                <p>MSSV: 19127322 .</p>
                <p>Ngày sinh: 17/01/2001</p>
                <p>Email: 19127322@student.hcmus.edu.vn</p>
                <p>Điện thoại: 0967312577</p>
                <div class="button">
                    <a href="">Read More</a>
                </div>
            </div>
            <div class="social", class="fa-github">
                <a href="https://www.facebook.com/10ngannamm/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/10ngannam17/"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/TrungTin1701"><i class="fa fa-github"></i></a>
                
            </div>
        
        </div>
        <div class="image-section">
            <img src="images/19127322.jpg">
        </div>
    </div>
</div>