<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UFT-8">
        <title>Burger Admin</title>
        <link rel="stylesheet" type="text/css" href="css/line-awesome.css">
        <link rel="stylesheet" href="css/admin-dashboard.css">
    </head>
    <body>
        

        {{{body}}}


    </body>
</html>